
 .profile-container h1, .profile-container h2,.profile-container  h3, .profile-container h4, .profile-container h5,.profile-container  h6,  .profile-container p {
	 margin: 0 0;
	 padding: 0 0;
}
 .profile-container  {
	 
	 height:100vh ;
	 display: flex;
     border-radius: 5px;
	 align-items: center;
	 justify-content: center;
}
 .profile-container .card {
	 width: 400px;
	 aspect-ratio: 1;
	 background: #fff;
	 border-radius: 3px;
	 display: flex;
	 overflow: hidden;
	 box-shadow: 0 0 10px 1px #000 ;
}
.profile-container .card .left {
	 position: relative;
	 width: 60%;
     color: white;
	 display: flex;
     background: linear-gradient(45deg,#00296B
,#0068AE);
	 flex-direction: column;
	 align-items: center;
	 padding-top: 30px;
}
 .profile-container .card .left > div {
	 display: flex;
     
	 flex-direction: column;
	 align-items: center;
}
 .profile-container .card .left .card-info {
	 padding-top: 20px;
}
 .profile-container .card .left .card-info h2 {
	 font-size: 15px;
}
 .profile-container .card .left .card-info p {
	 font-size: 12px;
}
 .profile-container .card .left .card-btn {
	 padding-top: 40px;
	 gap: 10px;
}
 .profile-container .card .left .card-btn> div {
	 width: 100px;
	 background: transparent;
	 border: 1px solid #5d9af5;
	 border-radius: 100vw;
	 padding: 7px;
	 font-weight: 700;
     display: flex;
     justify-content: space-between;
	 font-size: 11px;
	 transition: all 0.2s linear;
}

 .profile-container .card .left .img-border {
	 position: absolute;
	 top: 14px;
	 width: 80px;
	 height: 80px;
	 border-right: 1px solid transparent;
	 border-left: 1px solid #786450;
	 border-top: 1px solid #786450;
	 border-bottom: 1px solid #786450;
	 border-radius: 50%;
	 cursor: pointer;
	 transition: transform 1.5s ease-in-out;
}
 .profile-container .card .left .img-border:hover {
	 transform: rotate(-360deg);
}
 .profile-container> .card .left .img-border .img-border {
	 position: absolute;
	 top: 2px;
	 width: 74px;
	 height: 74px;
	 border-left: 1px solid transparent;
	 border-right: 1px solid #786450;
	 transition: transform 1.5s ease-in-out;
}
 .profile-container .card .left .img-border .img-border:hover {
	 transform: rotate(720deg);
}
 .profile-container .card .left img {
	 width: 74px;
     height: 70px;
     position: relative;
     top: -10px;
	 border-radius: 50%;
}
 .profile-container .card .right {
	 width: 40%;
	 display: flex;
	 flex-direction: column;
      color: white;
	 gap: 2px;
}
 .profile-container .card .right > div {
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 justify-content: center;
	 flex-grow: 1;
	
	 background: linear-gradient(45deg,#011240,#00458A);
	 cursor: pointer;
}

 .profile-container .card .right > div p {
	 font-size: 12px;
}