.requests-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.requests-container .search-for-friends{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: 1rem 0;
}
.requests-container .search-for-friends>.search-text{
   width: 60%;
}
.requests-container .search-for-friends>.search-text input{
   width: 60%;
    background: linear-gradient(45deg,#00296B,#0068AE);
    color: white;
    margin: 0 .25rem;

}
.requests-container .search-for-friends>.search-text button{
    border-radius: 5px;
   width: 30%;
}
.requests-container .search-for-friends input,.search-for-friends button{
    border: none;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding: .25rem;

}

.requests-container .search-result{
  width: 65%;

}
.requests-container .search-list{
    list-style-type: none;

    display: block;
    background: white;
    padding: .5rem;
    max-height: 120px;
    overflow-y: auto;
}

.requests-container .searched-item{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}